body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0; /* 修改 padding 值 */
  background-color: #f3f4f4;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
  text-align: center;
  padding: 10px 0;
  background-color: #333;
  color: #fff;
}

/* 新增样式 */
#result {
  padding: 20px;
  border: 1px solid #ccc;
  margin: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-text {
  color: #d00;
  margin-top: 10px;
}
/* 小框整体样式 */
.mo {
    height: auto;
    border: 1px solid #CCC;
    margin-bottom: 5px;
    background: #FFF;
    border-radius: 2px;
}

.mo .nr {
    margin: 2px;
    background: #FFF;
    padding: 3px;
}

/* 小标题背景 */
.drag {
    /* background: url(../img/style_2/lan_head.jpg) repeat-x; */
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    color: #000;
    font-weight: bold;
    background-color: rgb(224, 224, 224);
}
/* 超链接 */
a {
    text-decoration: none;
    color: inherit;
}

/* 容器 */
div {
    display: block;
    unicode-bidi: isolate;
}

element.style {
    WIDTH: auto;
    HEIGHT: auto;
    TOP: 412px;
    LEFT: 108px;
}

* {
    font-family: -apple-system, "Noto Sans", "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Noto Sans CJK SC", "Source Han Sans SC", "Source Han Sans CN", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
    margin: 0px;
    padding: 0px;
    -webkit-font-smoothing: subpixel-antialiased;
}

.footer-box {
    margin-top: 10px;
    padding: 10px;
    padding-bottom: 0;
    color: #333;
}

table {
    margin: 0 auto;
}

tr {
    text-align: center;
    vertical-align: middle;
}
